<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:allowBackup="true"
        android:label="Chats"
        android:icon="@mipmap/front_icon"
        android:roundIcon="@mipmap/front_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".services.UploadPhotoService"
            android:exported="false" />

        <activity
            android:name=".FrontActivity"
            android:label="@string/title_activity_front"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.UserProfileActivity"
            android:label="Profile"
            />
        <activity android:name=".chats.ChatActivity" />
        <activity android:name=".user.ProfileActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LoginActivity" />
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>